@model IEnumerable<Nicholas_E_Terry_CapStone.Models.CleanArticle>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lead_paragraph)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Source)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Word_count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Web_url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pub_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.News_desk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticleAuthor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserSuggestedArticleAttributes)
            </th>
            <th></th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Lead_paragraph)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Web_url)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Source)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Word_count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Web_url)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pub_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.News_desk)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArticleAuthor.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserSuggestedArticleAttributes.Id)
                </td>*@
                @*<td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>*@
            </tr>
            <a href="@item.Web_url"></a> 
        }
    </tbody>
</table>
