@model Nicholas_E_Terry_CapStone.Models.UserModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<h1>Great !</h1>

<h4>Let's get some information about you first.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="First_name" class="control-label"></label>
                <input asp-for="First_name" class="form-control" />
                <span asp-validation-for="First_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Last_name" class="control-label"></label>
                <input asp-for="Last_name" class="form-control" />
                <span asp-validation-for="Last_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserNameModel.User_name" class="control-label"></label>
                <input asp-for="UserNameModel.User_name" class="form-control" />
                <span asp-validation-for="UserNameModel.User_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserModelAddress.Street_address" class="control-label"></label>
                <input asp-for="UserModelAddress.Street_address" class="form-control" />
                <span asp-validation-for="UserModelAddress.Street_address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserModelAddress.City" class="control-label"></label>
                <input asp-for="UserModelAddress.City" class="form-control" />
                <span asp-validation-for="UserModelAddress.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserModelAddress.State" class="control-label"></label>
                <input asp-for="UserModelAddress.State" class="form-control" />
                <span asp-validation-for="UserModelAddress.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserModelAddress.Zip_code" class="control-label"></label>
                <input asp-for="UserModelAddress.Zip_code" class="form-control" />
                <span asp-validation-for="UserModelAddress.Zip_code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Education.Highest_level" class="control-label"></label>
                <input asp-for="Education.Highest_level" class="form-control" />
                <span asp-validation-for="Education.Highest_level" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Occupation.Occupation_user" class="control-label"></label>
                <input asp-for="Occupation.Occupation_user" class="form-control" />
                <span asp-validation-for="Occupation.Occupation_user" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Skills"></label>
                <select asp-for="Skills" multiple="" class="form-control" id="skills">
                    @foreach (var item in (List<string>)ViewBag.SkillLibrary)
                    {
                        <option value="@item">@item</option>
                    }

                </select>
            </div>
            <div class="form-group">
                <label asp-for="Hobbies"></label>
                <select asp-for="Hobbies" multiple=""class="form-control" id="hobbies">
                    @foreach (var item in (List<string>)ViewBag.HobbyLibrary)
                    {
                        <option value="@item">@item</option>
                    }

                </select>
            </div>
            <div class="form-group">
                <label asp-for="Previous_Occupations"></label>
                <select asp-for="Previous_Occupations" multiple="" class="form-control" id="hobbies">
                    @foreach (var item in (List<string>)ViewBag.OccupationLibrary)
                    {
                        <option value="@item">@item</option>
                    }

                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
