@model IEnumerable<Nicholas_E_Terry_CapStone.Models.CleanArticle>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>*@
<!-- The sidebar -->
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <a href="#">BREAKING NEWS!</a>
    <a href="#">REVIEW ARTICLES</a>
    <a href="#">placeholder</a>
    <a href="#">ABOUT</a>
</div>
<!-- Use any element to open the sidenav -->
<button type="button" class="btn btn-outline-primary" onclick="openNav()">&#9776;</button>
<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main">
    <div class="container">
        <div class="error"></div>
        <div class="success"></div>
    </div>
    @foreach (var item in Model)
    {
        <div class="container">
            <div class="navbar">
                <a onlick="updateVote()" href="#home">Votes</a>
                <a href="#news">contributor userName that reviewed article</a>
            </div>
            <div class="jumbotron">
                <p class="lead">@item.Lead_paragraph</p>
                <details>
                    <summary>Click To Read Article</summary>
                    <p @*class="lead"*@>@item.Word_count</p>
                </details>
                <hr class="my-4">
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href=@item.Web_url role="button">Read Article</a>
                </p>
                <p class="lead">
                    <a asp-controller="Contributor" asp-action="ArticleReview" asp-route-id="@item.Id">Review Article</a>
                </p>
            </div>
        </div>
    }
</div>

@*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
